.css-6cwnna-MuiSlider-mark {
  width: 11px !important;
  height: 11px !important;
  background-color: #247cd4 !important;
  opacity: 100% !important;
}
.css-d3wcwz-MuiTypography-root {
  color: #2caeba !important;
  font-size: 0.8rem;
}
.css-n4984l-MuiSlider-root {
  margin-top: 40px;
}
#non-linear-slider {
  margin-top: 20px;
}
.css-1qkhghx {
  width: 100% !important;
}
